/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2015, 12:48:20 PM
    Author     : DB7
*/
body{
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

a:link{
    color:#FFFFFF;
} 
a:visited {
    color:#FFFFFF;
}


.container {
    margin:0 auto;
    width:800px;
    background-color:#1c94c4;
    border-right: 4px #0b58a2 solid;
    border-left: 4px #0b58a2 solid;
}
.ui-tabs-vertical { width: 100%; border:#0b3e6f 6px solid; border-radius: 15px;}
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 30%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; font-size: 10pt;}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 70%;}

table, th, td {
    background-color: #aaaaaa;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 10px;
}
.btn {
    margin:10px;
}
th,td {
    padding: 5px;
}

